body{
  text-align: center;
  width: 80%;
}

ul, li{
  text-decoration: none;
  list-style: none;
}
li{
  border-bottom: 2px solid black;
}

.entryBox{
  border:2px solid black;
}
.category , .color{
  border: 2px solid pink;
  width: 47%;
  float: left;
  margin-left: 23px;

}
.ventingMessage{
  clear: both;
}
.word {
  width: 58%;
}
.chat{
  width: 78%;
  height: 109px;

}
