body{
  text-align: center;
  width: 60%;
  word-wrap:break-word;
  background-image: url(yellow.jpg);
}

ul, li{
  text-decoration: none;
  list-style: none;
}
li{
  border-radius: 3px;
  border: solid transparent 1px;
  margin-bottom: 9px;
  background-color: lightgoldenrodyellow;
}
button {
  cursor: pointer;
}
i{
  color: firebrick;
  cursor: pointer;
}
.entryBox{
  border:2px solid transparent;
}
.category , .color{
  border: 2px solid transparent;
  width: 22%;
  float: left;
}
.category{
    margin-left: 136px;
}
.ventingMessage{
  clear: both;
}
.word {
  width: 64%;
}
.chat{
  width: 71%;
  height: 48px;

}
.colorWord{
  color: firebrick;
}
